LevelTemplate(
	name: "Test",
	init_state: LevelState(
		tile_map: {
			ObjectCoordinate(
				x: -1,
				y: -1,
			): Button(
				pressed: false,
				inverted: false,
				target: ObjectCoordinate(
					x: 0,
					y: 3,
				),
			),
			ObjectCoordinate(
				x: -1,
				y: 2,
			): Wall(
				kind: Double(
					orientation: Horizontal,
				),
			),
			ObjectCoordinate(
				x: 0,
				y: 0,
			): Start,
			ObjectCoordinate(
				x: 0,
				y: 1,
			): Path,
			ObjectCoordinate(
				x: 0,
				y: 2,
			): Wall(
				kind: Corner(
					north_south_facing: North,
					east_west_facing: West,
				),
			),
			ObjectCoordinate(
				x: 0,
				y: 3,
			): Goal(
				active: false,
			),
			ObjectCoordinate(
				x: 1,
				y: 1,
			): Path,
			ObjectCoordinate(
				x: 1,
				y: 2,
			): Wall(
				kind: Double(
					orientation: Horizontal,
				),
			),
			ObjectCoordinate(
				x: 1,
				y: 3,
			): Path,
			ObjectCoordinate(
				x: 2,
				y: 1,
			): Path,
			ObjectCoordinate(
				x: 2,
				y: 2,
			): Path,
			ObjectCoordinate(
				x: 2,
				y: 3,
			): Path,
		},
	),
)